body{
    background-color:aquamarine;
}
h1{
    text-align: center;
    background: darkblue;
    color: aliceblue;
}
h2{
    background: linear-gradient(to left, rgb(2, 2, 91),rgb(123, 123, 255));
    color: aliceblue;

}
img{
    height: 500px;
    width: 500px;
}

.secao2{
    background-image: url('teste.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}
a:link{
    text-decoration: none;

}
a:hover{
    text-decoration: underline;
    color: blue ;
}
.google{
    list-style-image: url('google.png');
}